.header-container {
  height: 7vh;
  width: 100vw;
  background-color: #6264a7;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo-text {
  color: #ffffff;
  margin-left: 2%;
  font-family: Inter Medium;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
}

