<app-header></app-header>
<app-navbar></app-navbar>
<div class="employee-container">
    <div class="add-emp-container">
        <p class="all-emp-text">All employees</p>
        <button mat-raised-button style="background-color: #9BA3ED ;
             font-family: Inter Bold;
             text-align: center;  width: 90px ;
             min-height: 35px ;
            font-weight: 600;
            font-size: 17px;
            margin-top: 30px; " (click)="openDialog()">Add</button>
        <input type="text" placeholder="Search" class="search-input" name="search" [(ngModel)]="filteredString"
            (input)="onSearch($event)">
        <div class="emp-main-list-section">
            <div class="emp-listsection" *ngFor="let emp of empList;"
                [ngStyle]="{'background-color': emp.name === selectedEmp?.name ? '#DBDEF6' : 'transparent'}">
                <div class="emp-list-container"
                    *ngIf="filteredString==='' || emp.name.toLowerCase().includes(filteredString.toLocaleLowerCase())"
                    (click)="clickedEmp(emp) ">
                    <p class="emp-list-content">{{emp.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="emp-details-container">
        <p class="label-text">Name: <span class="content-text">{{selectedEmp?.name}}</span></p>
        <p class="label-text">Designation: <span class="content-text">{{selectedEmp?.designation}}</span></p>
        <p class="label-text">Joining date: <span class="content-text">{{selectedEmp?.joiningDate}}</span></p>
        <p class="label-text">Tecnologies: <span class="content-text">{{selectedEmp?.technologies}}</span></p>
        <div class="active-project-label-text">
            <p class="active-project-label">Active projects:</p>
            <div class="activeProjectDiv">
                <span class="content-text1" *ngFor="let active of sortedProjectList">{{active}}</span>
            </div>
        </div>
    </div>
</div>