.employee-container {
  height: 85vh;
  width: 100vw;
  min-width: 900px;
  display: flex;
  flex-direction: row;
}
.add-emp-container {
  width: 50vw;
  min-width: 450px;
  display: flex;
  flex-direction: column;
}
.all-emp-text {
  font-family: Inter Medium;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  color: #000000;
  margin-top: 70px;
  margin-left: 30px;
}
.search-input {
  width: 350px;
  padding-left: 9px;
  min-height: 40px;
  background: #ffffff;
  outline: none;
  border: 1px solid #474242;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: Inter Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  margin-left: 30px;
}
::placeholder {
  color: #cdbebe;
  font-family: Inter Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
}
.emp-main-list-section {
  height: 260px;
  width: 360px;
  overflow-y: auto;
  margin-left: 30px;
}

.emp-list-container {
  height: 50px;
  display: flex;
  padding-left: 10px;
  border: 1px solid #5e66ad;
  cursor: pointer;
}
.emp-listsection::-webkit-scrollbar {
  display: none;
}
.emp-list-content {
  font-family: Inter Medium;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 15px;
}
.emp-details-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 450px;

  margin-top: 100px;
}
.label-text {
  display: flex;
  flex-direction: row;
  font-family: Inter Bold;
  font-weight: 900;
  font-size: 20px;
  line-height: 15px;
  color: #000000;
  margin-left: 30px;
}
.active-project-label-text {
  display: flex;
  flex-direction: row;
  font-family: Inter Bold;
  font-weight: 900;
  font-size: 20px;
  line-height: 15px;
  color: #000000;

  height: 50px;
}
.active-project-label {
  width: 160px;
  margin-left: 30px;
}
.activeProjectDiv {
  display: flex;
  flex-direction: row;

  width: 600px;

  flex-wrap: wrap;
  height: 100px;
  margin-top: 20px;
}
.content-text {
  font-family: Inter Regular;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #000000;
  padding-left: 10px;
}
.active-projects {
  display: flex;
  flex-direction: row;
}
.highlight {
  background-color: #dbdef6;
}
.content-text1 {
  font-family: Inter Regular;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #000000;
  padding: 0px 10px 5px 0;
}
